body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

header {
  background: #111827;
  color: white;
  text-align: center;
  padding: 30px;
}

nav {
  background: #1f2937;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

ul li {
  margin: 5px 0;
}

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
}

button {
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  background: #111827;
  color: white;
  text-align: center;
  padding: 10px;
}
